@import url("https://fonts.googleapis.com/css?family=Lora|Roboto");
@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");

body{
	margin: 0px;
	font-size: 18px;
	font-family: 'Lora', serif;
}

h1 h2 h3{ 
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}


h1{ 
	color: white;
	font-weight: 900;
	letter-spacing:  5px;
	font-size: 32px
}


h2 { color: #2E3032;
}


a{
	text-decoration: none;
}